<!-- car section -->

<section class="car_section layout_padding2-top layout_padding-bottom">
  <div class="container">
    <div class="heading_container">
      <h2>
        Các ca gác trước, trong và sau
      </h2>
      <p>
        Đây là Họ Tên, giờ gác, vấn đề phát sinh
      </p>
    </div>
    <div class="car_container">
      <div class="box">
        <div class="img-box">
          <img src="assets/images/hinhbodoi.png" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Ca trước đó
          </h5>
          <p>
            Giờ gác: 8:00 - 9:30 <br>
            <b>Cổng ngoài:</b> <br>
            Nguyễn văn A <br>
            Nguyễn văn B <br>
            <b>Cổng trong:</b> <br>
            Nguyễn Văn C <br>
            Vấn đề phát sinh: Không có
          </p>
          <a href="">
            Xem chi tiết
          </a>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="assets/images/hinhbodoi.png" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Đang gác
          </h5>
          <p>
            Giờ gác: 9:30 - 11:00<br>
            <b>Cổng ngoài:</b> <br>
            Nguyễn văn A <br>
            Nguyễn văn B <br>
            <b>Cổng trong:</b> <br>
            Nguyễn Văn C <br>
            Vấn đề phát sinh: Nhận thư, nhận hàng dùm chú D
          </p>
          <a href="">
            Xem chi tiết
          </a>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="assets/images/hinhbodoi.png" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Ca tiếp theo
          </h5>
          <p>
            Giờ gác: 11:00 - 12:30 <br>
            <b>Cổng ngoài:</b> <br>
            Nguyễn văn A <br>
            Nguyễn văn B <br>
            <b>Cổng trong:</b> <br>
            Nguyễn Văn C <br>
            Vấn đề phát sinh: Không có
          </p>
          <a href="">
            Xem chi tiết
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end car section -->

<!-- about section -->

<!-- <section class="about_section layout_padding-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 px-0">
        <div class="img-box">
          <img src="assets/images/about-img.png" alt="">
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="detail-box">
          <h2>
            About Our Cars
          </h2>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem
          </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- end about section -->


<!-- best section -->

<section class="best_section">
  <div class="container">
    <div class="book_now">
      <div class="detail-box">
        <h2>
          Ngày: 01/11/2023
        </h2>
        <p>
          Bao gồm các ca gác trong ngày bắc đầu từ 0:00p
        </p>
      </div>
      <div class="btn-box">
        <a href="">
          Chi tiết
        </a>
      </div>
    </div>
  </div>
</section>

<!-- end best section -->

<!-- rent section -->

<section class="rent_section layout_padding" style="background-color: white;padding-top: 10px; padding-bottom: 1px;">
    <table class="table container">
      <thead>
        <tr>
          <th scope="col">Ca</th>
          <th scope="col">Cổng ngoài</th>
          <th scope="col">Cổng trong</th>
          <th scope="col">Chú thích</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">00:00<br>
          01:30
          </th>
          <td>Nguyễn văn A
          <br>Nguyễn văn B</td>
          <td  rowspan="2">Nguyễn văn C</td>
          <td  rowspan="2">Không có</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">00:00<br>
          01:30
          </th>
          <td>Nguyễn văn A
          <br>Nguyễn văn B</td>
          <td  rowspan="2">Nguyễn văn C</td>
          <td  rowspan="2">Không có</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">00:00<br>
          01:30
          </th>
          <td>Nguyễn văn A
          <br>Nguyễn văn B</td>
          <td  rowspan="2">Nguyễn văn C</td>
          <td  rowspan="2">Không có</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">00:00<br>
          01:30
          </th>
          <td>Nguyễn văn A
          <br>Nguyễn văn B</td>
          <td  rowspan="2">Nguyễn văn C</td>
          <td  rowspan="2">Không có</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">00:00<br>
          01:30
          </th>
          <td>Nguyễn văn A
          <br>Nguyễn văn B</td>
          <td  rowspan="2">Nguyễn văn C</td>
          <td  rowspan="2">Không có</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">00:00<br>
          01:30
          </th>
          <td>Nguyễn văn A
          <br>Nguyễn văn B</td>
          <td  rowspan="2">Nguyễn văn C</td>
          <td  rowspan="2">Không có</td>
        </tr>
      </tbody>
      
    </table>
</section>

<!-- end client section -->